---
import type { Page } from '@/lib/Interfaces'
type Props = {
  page: Page<any>
  rootURL: string
}
const { page, rootURL }: { page: Page<any>; rootURL: string } = Astro.props
---

<div class="flex items-start justify-between">
  <button class={`btn ${page.currentPage === 1 ? 'btn-disabled' : ''}`}>
    <a href={page.url.first}>{`<<`} </a>
  </button>
  <div class="flex justify-center flex-grow">
    <button class={`btn ${page.currentPage === 1 ? 'btn-disabled' : ''}`}>
      <a href={page.url.prev}>{`<-`}</a>
    </button>

    <button class="collapse rounded-full bg-gray-700 size-1/6">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-medium pr-4">
        {page.currentPage} / {page.lastPage}
      </div>
      <div class="collapse-content">
        <input
          id="goToPage"
          type="number"
          placeholder="Go to page"
          min="1"
          max={page.lastPage}
          class="input input-bordered input-success w-full max-w-xs"
        />
      </div>
    </button>

    <button
      class={`btn ${page.currentPage === page.lastPage ? 'btn-disabled' : ''}`}
    >
      <a href={page.url.next}>{`->`}</a>
    </button>
  </div>
  <button
    class={`btn ${page.currentPage === page.lastPage ? 'btn-disabled' : ''}`}
  >
    <a href={page.url.last}>{`>>`}</a>
  </button>
</div>
<script is:inline>
  // document
  //   .getElementById('goToPage')
  //   .addEventListener('keydown', function (event) {
  //     if (event.key === 'Enter') {
  //       const pageIndex = event.target.valueAsNumber as HTMLInputElement
  //       if (pageIndex <= page.lastPage)
  //         window.location.href = `${rootURL}/${
  //           pageIndex === 1 ? '' : pageIndex
  //         }`
  //     }
  //   })
</script>
