---
import type { Page } from '@/lib/Interfaces'

type Props = {
  page: Page<any>
  rootURL: string
}
const { page, rootURL }: Props = Astro.props
---

<div class="flex items-start justify-between">
  <button class={`btn ${page.currentPage === 1 ? 'btn-disabled' : ''}`}>
    <a href={page.url.first}>{`<<`} </a>
  </button>
  <div class="flex justify-center flex-grow">
    <button class={`btn ${page.currentPage === 1 ? 'btn-disabled' : ''}`}>
      <a href={page.url.prev}>{`<`}</a>
    </button>
    <div
      class="tooltip"
      data-tip={`Page ${page.currentPage} of ${page.lastPage}`}
    >
      <div class="btn">{page.currentPage}</div>
    </div>

    <button
      class={`btn ${page.currentPage === page.lastPage ? 'btn-disabled' : ''}`}
    >
      <a href={page.url.next}>{`>`}</a>
    </button>
  </div>
  <button
    class={`btn ${page.currentPage === page.lastPage ? 'btn-disabled' : ''}`}
  >
    <a href={page.url.last}>{`>>`}</a>
  </button>
</div>
