---
import type { Page } from "@/lib/Interfaces";

type Props = {
  page: Page<any>;
  rootURL: string;
};
const { page, rootURL }: Props = Astro.props;
---

<div class="flex items-start justify-between mb-4">
  <a
    class={`btn ${page.currentPage === 1 ? "btn-disabled" : ""}`}
    href={page.url.first}
    >{`<<`}
  </a>
  <div class="flex justify-center flex-grow">
    <a
      class={`btn ${page.currentPage === 1 ? "btn-disabled" : ""}`}
      href={page.url.prev}>{`<`}</a
    >
    <div
      class="tooltip"
      data-tip={`Page ${page.currentPage} of ${page.lastPage}`}
    >
      <a class="btn">{page.currentPage}</a>
    </div>
    <a
      class={`btn ${page.currentPage === page.lastPage ? "btn-disabled" : ""}`}
      href={page.url.next}>{`>`}</a
    >
  </div>
  <a
    class={`btn ${page.currentPage === page.lastPage ? "btn-disabled" : ""}`}
    href={page.url.last}
    >{`>>`}
  </a>
</div>
